/* Work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

/* Shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 25px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
}

.text-light-gray {
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

/* Header stylkes */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    padding: 28px 0px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    /* 144.444% */
}

/* banner styles  */

.banner {
    margin-top: 20px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    padding: 2%;
}


.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
    margin: 70px auto;
}


/* teams Style  */
.teams-container {
    display: flex;
    align-items: center;
    gap: 2rem;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}


/* facts Section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}



.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}

.facts-card-container .card-stats {

    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}


/* Sponsors Style */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}

.sponsors-img-container img {
    width: 165px;
}

/* features section style  */

.features {

    display: flex;
    margin-top: 130px;
    margin-bottom: 130px;
    gap: 100px;
}

.feature-img img {
    width: 34vw;
    margin-top: 89px;
    margin-left: 60px;
}


.featur-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    margin: 20px 0;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge {
    width: 342px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

/* footer Section Start   */

.footer {
    text-align: center;
    padding: 2%;
    margin: 0% 8%;
    border-radius: 8px;
    background: #FFF4E7;
}

.feature-content {
    padding: 6%;
}

/* footer Section End    */
/* responsive media queries */

/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .ten-years-badge {
        width: 50vw;
        bottom: 0;
        text-align: center;
        margin: auto;
    }

    .feature-img img {
        text-align: center;
        width: 85vw;
        margin-left: 0;

    }

    .feature-img {
        margin: auto;
    }
}


/* tablet or medium devices */
@media screen and (min-width:577px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .ten-years-badge {
        width: 50vw;
        bottom: 0;
        text-align: center;
        margin: auto;
    }

    .feature-img img {
        text-align: center;
        width: 85vw;
        margin-left: 0;

    }

    .feature-img {
        margin: auto;
    }

    .feature-content {
        padding: 6%;
    }

}